body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  font-size: larger;
}


button {
  font-size: larger;
  margin-left: 15px;
}

s2pan {
  padding: 5px 15px;
  background-color: orange;
}

.note {
  cursor: move;
}


.customname{
  font-size: 12px !important;
}

.nav-btn{
  font-size: 10px !important;
  padding: 3px 6px !important;
}

.create-note {
  margin-top: 10px;
}

.create-note input {
  margin-right: 10px;
}

.create-note textarea {
  width: 100%; /* Make the textarea expand to the full width of the container */
}